<phpunit
  bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="uArray">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  
  <filter>
    <whitelist>
      <directory>.</directory>
      <exclude>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>